
<h1>Index of Offers</h1>
<div class="row">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Advertiser</th>
                <th>url</th>
                <th>state</th>
                <th>premmium</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <% @offers.each do |offer| %>
            <tr>
                <td scope="row"><%= offer.id %></td>
                <td scope="row"><%= offer.advertiser_name %></td>
                <td ><%= offer.url %></td>
                <td ><%= offer.state %></td>
                <td ><%= '&#x2714'.html_safe if offer.premmium  %></td>
                <td >
                    <%= link_to 'edit', edit_admin_offer_url(offer), class: 'btn btn-light btn-sm  text-secondary' %>
                    <%= link_to 'destroy', admin_offer_url(offer), method: :delete, class: 'btn btn-light btn-sm  text-danger' %>
                    <%= form_tag admin_offer_path(offer), method: :put do %>
                      <%= hidden_field_tag('offer[state]', offer.state.eql?('enabled') ? 'disabled' : 'enabled') %>
                      <%= hidden_field_tag(:query, 'toggle_state') %>
                      <%= submit_tag( offer.state.eql?('enabled') ? 'disable' : 'enable', class: 'btn btn-light btn-sm text-secondary' )%>
                    <% end %>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>